:root{
    --background-color: #f5f7fac0;
    --font-side-color: #fff;
    --background-color-sidebar: #441e55;
    --font-pop: #c52936;
    --font-fade: #595959;
    --font-fade-2:#afafaf;
}

body{   
    background-color: var(--background-color) ;
    font-family: 'Montserrat';   
}
.all{
    width: 1200px;
    margin: 40px auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 3%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 45px;
    margin-bottom: 2px;
}
li {
    line-height: 24px;
}
/* main section*/
.main__section{
    margin:  100px 88px;
}
.main__info{
    margin: 40px 0;
}
.main__info__job__title{
    font-weight: 700;
    font-size: 24px;
}
h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}
.main__info > p{
   font-size: 18px;
   color: var(--font-fade);
   width: 400px;
   line-height: 24px;
}
/* proyect section*/
.project__section{
    margin-bottom: 40px;
}
.project__list{     
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        padding-left: 16px;
}
.project__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--background-color-sidebar);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.project__dot{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    color: var(--font-fade);
}
.project__section > li{
    padding-left: 1px;
}
/*-work expperience-*/
.work__title__place{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.color__pop{
    color: var(--font-pop);
}
.work__date{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--font-fade);

}
.work__list{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--font-fade);
    padding-left: 15px;
}
/*----education------*/
.school__info{
    margin-bottom: 30px;
}
.school__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--font-pop);
    margin-bottom: 11px;
}
.school__course{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0;
}
.school__timeline{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--font-fade-2);
    margin: 0;
}
/*------------------*/
/* sidebar section */
/*-----------------*/
.sidebar{
    background-color: var(--background-color-sidebar);
}
.side__color{
    color: var(--font-side-color);
}
img{
    margin: 40px 0;
}
.sidebar__section{
    margin-top: 50px;
    margin-left: 40px;
}
/* contact section */
.contact__type{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}
.contact__info{
    color: var(--font-fade-2);
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}
/* side List*/
.side__list{
    padding-left: 20px;
}
.side__list > li{
    color: var(--font-pop);
    font-size: 16px;
}